target/
.DS_Store
src/.DS_Store
src/main/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/java/com/github/.DS_Store
src/main/java/com/github/kafka/.DS_Store
*.class
.metadata/
.project
.classpath
.settings/
